@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root,
  .default {
    --background: 0 0% 16%;
    --foreground: 0 0% 100%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 100%;
    --card-header: 0 0% 23%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 352 23% 19%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 14%;
    --muted-foreground: 220 9% 65%;

    --accent: 353 100% 44%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 20%;

    --radius: 0.4rem;

    --bet: 353 100% 44%;
    --bet-foreground: 0 0% 100%;

    --betSlip: 0 0% 85%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --bet: 358 100% 62%;
    --bet-foreground: 0 0% 100%;
    --betSlip: 0 0% 85%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .sportradar {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --card-header: 0 0% 90%;
    --popover: 30 80% 55%;
    --popover-foreground: 350.9 100% 50.8%;
    --primary: 240 100% 11.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 9% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 9% 65%;
    --muted-foreground: 0 0% 0%;
    --accent: 240 100% 11.8%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 100%;
    --destructive-foreground: 0 0% 0%;
    
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 20%;

    --radius: 0.4rem;

    --bet: 358 100% 62%;
    --bet-foreground: 0 0% 100%;

    --betSlip: 0 0% 85%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .pgcompany {
    --foreground: 0 0% 100%;
  }

  .dp {
    --foreground: 0 0% 100%;
  }

  .sc {
    --foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}